body {
    background-color: rgb(61,61,61);
    color: white;
    font-family: "Robot", sans-serif;
}

.fading-divider-white-dim-h {
    background: linear-gradient(
                to right,
                rgba(255, 255, 255, 0) 0%,
                rgba(255, 255, 255, 0.2) 50%,
                rgba(255, 255, 255, 0) 100%
            );
}

.fading-divider-white-dim-v {
    background: linear-gradient(
                to bottom,
                rgba(255, 255, 255, 0) 0%,
                rgba(255, 255, 255, 0.2) 50%,
                rgba(255, 255, 255, 0) 100%
            );
}

.fading-divider-white-bright-v {
    background: linear-gradient(
                to bottom,
                rgba(255, 255, 255, 0) 0%,
                rgba(255, 255, 255, 0.8) 50%,
                rgba(255, 255, 255, 0) 100%
            );
}

.fading-divider-white-bright-h {
    background: linear-gradient(
                to right,
                rgba(255, 255, 255, 0) 0%,
                rgba(255, 255, 255, 0.8) 50%,
                rgba(255, 255, 255, 0) 100%
            );
}

#username-divider {
    width: 500px;
    margin: auto;
    margin-bottom: 10px;
    height: 3px;
}

.match-data-agent-icon {
    max-width: 64px;
    height: auto;
    aspect-ratio: 1/1;
    border-radius: 100%;
    margin-left: 5%;
    border: 2px solid rgba(0,0,0,0.2);
}

.match-data-rank-icon {
    max-width: 48px;
    height: auto;
    aspect-ratio: 1/1;
}

#matches-container {
    width: 70%;
    margin: auto;
}

@media (max-width: 1450px) {
    #matches-container {
        width: 80%;
    }
}
@media (max-width: 1050px) {
    #matches-container {
        width: 100%;
    }
}
@media (max-width: 390px) {
    .match-data-center {
        font-size: 16px;
    }
    .match-data-right {
        font-size: 12px;
    }
}

.match-data {
    border: 2px solid rgba(0,0,0,0.2);
    border-radius: 5px;
}

.match-data-center-container {
    height: 100%;
    display: inline-flex;
    align-items: center;
    font-size: 26px;
    text-shadow: 1px 2px black;
    /*
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000; 
    */
}

.match-data-center-divider {
    width: 3px;
    height: 100%;

}

.match-data-right span {
    display: inline-block;
    text-align: center;
    padding: 10px;
    border: 1px solid rgba(0,0,0,0.6);
    border-radius: 1000px;
    background-color: rgba(0,0,0,0.4);
}

.match-data-score {
    width: 7ch;
}

.match-data-kda {
    width: 9ch;
}

.match-data-map-name {
    width: 9ch;
}

.match-data-time {
    width: 13.5ch;
}

.match-data-gamemode {
    width: 13ch;
}

.win {
    background: rgb(50, 180, 50);
}

.loss {
    background: rgb(180, 50, 50);
}

#overlay {
    position: fixed;
    display: flex;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

#overlay-loading {
    background-color: grey;
    font-size: 48px;
}

#overlay-box {
    background: rgba(61,61,61,1);
    color: white;
    /*padding: 10px;*/
    padding: 0px;
    border: 3px solid white;
    border-radius: 5px;
}

.overlay-rank-icon {
    max-width: 40px;
    height: auto;
    aspect-ratio: 1/1;
}

.overlay-agent-icon {
    max-width: 48px;
    height: auto;
    aspect-ratio: 1/1;
    border-radius: 10px;
}

#overlay-highlighted-player {
    background: rgba(255, 255, 0, 0.25);
}

#team-divider {
    width: 100%;
    height: 5px;
}

.team-table-ally {
    border-color: rgba(94, 231, 144) !important;
}

.team-table-enemy {
    border-color: rgba(228, 72, 93) !important;
}

.border-top-thick {
    border-top: 2px solid;
}

.border-bottom-thick {
    border-bottom: 2px solid;
}

.player-name-link {
    color: white;
    text-decoration: none;
}

.dotted-underline {
    text-decoration: underline;
    text-decoration-style: dotted;
}

/* username must be statically set in size otherwise tables for the 2 teams will misalign.
   agent and rank icons are also set to minimize cell size for these images */
.overlay-table-head-agent-icon {
    width: 70px;
}

.overlay-table-head-username {
    /* max username length: (16 chars)#(5 chars) 
    so 22ch for exact fit, plus 4ch for padding
    */
    width: 26ch;
}

.overlay-table-head-rank-icon {
    width: 70px;
}

.table-alt-row-color {
    background-color: rgba(0,0,0,0.15);
}

#connection-error {
    position: fixed;
    text-align: center;
    top:50%;
    left:50%;
    background: grey;
    font-size: 64px;
    transform: translate(-50%, -50%);
    text-wrap: none;
}