<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Match History</title>
<!-- socketio -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.1/socket.io.js"></script>
<!-- jquery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<!-- bootstrap -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- stylesheet -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/match_history.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
<link rel="stylesheet" href="match_history.css">
<!-- font(s) -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

<script>
    const image_paths = {
        brimstone: "{{ url_for('static', filename='images/agent_icons/brimstone.png') }}",
        viper: "{{ url_for('static', filename='images/agent_icons/viper.png') }}",
        omen: "{{ url_for('static', filename='images/agent_icons/omen.png') }}",
        killjoy: "{{ url_for('static', filename='images/agent_icons/killjoy.png') }}",
        cypher: "{{ url_for('static', filename='images/agent_icons/cypher.png') }}",
        sova: "{{ url_for('static', filename='images/agent_icons/sova.png') }}",
        sage: "{{ url_for('static', filename='images/agent_icons/sage.png') }}",
        phoenix: "{{ url_for('static', filename='images/agent_icons/phoenix.png') }}",
        jett: "{{ url_for('static', filename='images/agent_icons/jett.png') }}",
        reyna: "{{ url_for('static', filename='images/agent_icons/reyna.png') }}",
        raze: "{{ url_for('static', filename='images/agent_icons/raze.png') }}",
        breach: "{{ url_for('static', filename='images/agent_icons/breach.png') }}",
        skye: "{{ url_for('static', filename='images/agent_icons/skye.png') }}",
        yoru: "{{ url_for('static', filename='images/agent_icons/yoru.png') }}",
        astra: "{{ url_for('static', filename='images/agent_icons/astra.png') }}",
        "kay/o": "{{ url_for('static', filename='images/agent_icons/kayo.png') }}",
        chamber: "{{ url_for('static', filename='images/agent_icons/chamber.png') }}",
        neon: "{{ url_for('static', filename='images/agent_icons/neon.png') }}",
        fade: "{{ url_for('static', filename='images/agent_icons/fade.png') }}",
        harbor: "{{ url_for('static', filename='images/agent_icons/harbor.png') }}",
        gekko: "{{ url_for('static', filename='images/agent_icons/gekko.png') }}",
        deadlock: "{{ url_for('static', filename='images/agent_icons/deadlock.png') }}",
        iso: "{{ url_for('static', filename='images/agent_icons/iso.png') }}",
        clove: "{{ url_for('static', filename='images/agent_icons/clove.png') }}",
        vyse: "{{ url_for('static', filename='images/agent_icons/vyse.png') }}",
        0: "{{ url_for('static', filename='images/rank_icons/0.png') }}",
        1: "{{ url_for('static', filename='images/rank_icons/1.png') }}",
        2: "{{ url_for('static', filename='images/rank_icons/2.png') }}",
        3: "{{ url_for('static', filename='images/rank_icons/3.png') }}",
        4: "{{ url_for('static', filename='images/rank_icons/4.png') }}",
        5: "{{ url_for('static', filename='images/rank_icons/5.png') }}",
        6: "{{ url_for('static', filename='images/rank_icons/6.png') }}",
        7: "{{ url_for('static', filename='images/rank_icons/7.png') }}",
        8: "{{ url_for('static', filename='images/rank_icons/8.png') }}",
        9: "{{ url_for('static', filename='images/rank_icons/9.png') }}",
        10: "{{ url_for('static', filename='images/rank_icons/10.png') }}",
        11: "{{ url_for('static', filename='images/rank_icons/11.png') }}",
        12: "{{ url_for('static', filename='images/rank_icons/12.png') }}",
        13: "{{ url_for('static', filename='images/rank_icons/13.png') }}",
        14: "{{ url_for('static', filename='images/rank_icons/14.png') }}",
        15: "{{ url_for('static', filename='images/rank_icons/15.png') }}",
        16: "{{ url_for('static', filename='images/rank_icons/16.png') }}",
        17: "{{ url_for('static', filename='images/rank_icons/17.png') }}",
        18: "{{ url_for('static', filename='images/rank_icons/18.png') }}",
        19: "{{ url_for('static', filename='images/rank_icons/19.png') }}",
        20: "{{ url_for('static', filename='images/rank_icons/20.png') }}",
        21: "{{ url_for('static', filename='images/rank_icons/21.png') }}",
        22: "{{ url_for('static', filename='images/rank_icons/22.png') }}",
        23: "{{ url_for('static', filename='images/rank_icons/23.png') }}",
        24: "{{ url_for('static', filename='images/rank_icons/24.png') }}",
        25: "{{ url_for('static', filename='images/rank_icons/25.png') }}",
        26: "{{ url_for('static', filename='images/rank_icons/26.png') }}",
        27: "{{ url_for('static', filename='images/rank_icons/27.png') }}",
    };

    $(document).ready(function() {
        const eco_opponent_max_value = 15000;
        const eco_team_min_value = 15000;
        const matches_per_load = 5;
        const loading_match_placeholder_html = `loading match data`;

        // initialize socket
        let socket = io();

        // puuid of the user currently being viewed.
        // gets set when matches are initially loaded
        let puuid = "";
        // start and end index for match history.
        // used directly in the request to valorant api
        // gets incremented as pages of matches are loaded
        let match_index_start = -1;
        let match_index_end = -1;

        // id of the match currently or most recently displayed in overlay.
        // prevents problem where user can open a match in the overlay then
        // close it before it loads and opens another match, causing 2 datasets
        // to be loaded into the overlay
        let overlay_match_id = "";

        // only initialize start/end vars and inital set of matches once.
        // fixes bug where the socketio connection is broken and upon
        // reconnect, the page is reinitialized
        let needs_init = true;

        // set text when hovering over "Eco Frags (?)" text in the overlay table header
        $(".overlay-table-head-ecos").attr("title", `Kills achieved while opponents' total loadout value was less than ${eco_opponent_max_value} and own teams loadout value exceeded ${eco_team_min_value}`);

        // hide elements that should not be seen initially
        hide_overlay();
        $("#error").hide()
        $("#load-more-button").hide() // TODO: there is an error if this button is somehow pressed before the initial load
        

        socket.on("connect", function() {
            console.log("[Match History]: Connected to server");

            // initialize start/end vars and load initial set of matches
            if (needs_init) {
                // get username parameter from search bar
                search_params = new URLSearchParams(window.location.search);
                let username = search_params.get("username");

                match_index_start = 0;
                match_index_end = matches_per_load;
                needs_init = false;
                socket.emit("load-init-matches", username, match_index_start, match_index_end);
                increment_match_indices();
            }
        });

        socket.on("set-puuid", function(new_puuid) {
            puuid = new_puuid;
        });

        // get match history for another user on button click or when pressing enter while input textbox is selected
        $("#username-submit").click(function () {
            search_user();
        });
        $("#username-input").keypress(function (event) {
            if (event.which == 13) {
                search_user();
            }
        });

        function search_user() {
            let username = $("#username-input").val();

            let url = new URL("{{ url_for('match_history') }}", window.location.origin);
            url.searchParams.append("username", username);
            window.location.href = url;
        }

        socket.on("append-match-history", function(info) {
            // calculate how long ago this game took place
            let start_date = new Date(info.start_time);
            let cur_date = new Date();

            diff_in_ms = cur_date - start_date;
            let diff_in_seconds = Math.floor(diff_in_ms / 1000);
            let diff_in_minutes = Math.floor(diff_in_seconds / 60);
            let diff_in_hours = Math.floor(diff_in_minutes / 60);
            let diff_in_days = Math.floor(diff_in_hours / 24);

            let time_ago_str = "";
            if (diff_in_days > 0) {
                time_ago_str = (diff_in_days == 1 ? "1 day ago" : diff_in_days + " days ago");
            } else if (diff_in_hours > 0) {
                time_ago_str = (diff_in_hours == 1 ? "1 hour ago" : diff_in_hours + " hrs ago");
            } else if (diff_in_minutes > 0) {
                time_ago_str = diff_in_minutes + " min ago";
            } else {
                time_ago_str = diff_in_seconds + " sec ago";
            }
            
            // match data html structure
            let match_data_div = document.createElement("div");
            match_data_div.classList.add("match-data", "p-2", "row", "my-1");

            // create divs that hold match data in 3 divs
            let match_data_left_div = document.createElement("div");
            match_data_left_div.classList.add("match-data-left", "col-3", "text-start", "align-content-center");
            let match_data_center_div = document.createElement("div");
            match_data_center_div.classList.add("match-data-center", "col-4", "text-center", "align-content-center");
            let match_data_right_div = document.createElement("div");
            match_data_right_div.classList.add("match-data-right", "col-5", "text-end", "align-content-center");

            // place child divs inside of main match data div
            match_data_div.append(match_data_left_div);
            match_data_div.append(match_data_center_div);
            match_data_div.append(match_data_right_div);

            // add matchid as id. this will be used if the user clicks on the match
            match_data_div.setAttribute("id", info.match_id);

            // add appropriate css class based on whether the player won or not
            (info.team_info.has_won ? match_data_div.classList.add("win") : match_data_div.classList.add("loss"));

            console.log(info.tier);

            // generate html for a match
            match_data_left_div.innerHTML = `
                <img src="${image_paths[info.tier]}" class="match-data-rank-icon img-fluid my-1"/>
                <img src="${image_paths[info.character]}" class="match-data-agent-icon img-fluid my-1"/>
            `;
            match_data_center_div.innerHTML = `
                <span class="match-data-score my-1">${info.team_info.rounds_won}:${info.team_info.rounds_lost}</span>
                <span class="match-data-kda my-1">${info.stats.kills}/${info.stats.deaths}/${info.stats.assists}</span>
            `;
            match_data_right_div.innerHTML = `
                <span class="match-data-time my-1">${time_ago_str}</span>
                <span class="match-data-map-name my-1">${info.map}</span>
                <span class="match-data-gamemode my-1">${info.mode}</span>
            `;

            let container = $("#matches-container");
            container.append(match_data_div);
        });

        socket.on("show-loading", function() {
            $("#loading").show();
            // dont allow user to load more while matches is already loading
            $("#load-more-button").hide();
        });

        socket.on("hide-loading", function() {
            $("#loading").hide();
            // dont allow user to load more while matches is already loading
            $("#load-more-button").show();
        });

        // there is no way to recover from error so we dont need a hide-error function
        socket.on("show-error", function() {
            $("#error").show();
            $("#load-more-button").hide();
            $("#loading").hide();
        });

        // triggered when a match is clicked on and the backend responds with full match data
        socket.on("display-specific-match", function(match_id, info) {
            // prevent displaying the wrong match due to user opening multiple instances of the overlay
            // before each instance has a chance to finish loading
            if (match_id != overlay_match_id) return;

            let red_team_container = $("#red-team-players");
            let blue_team_container = $("#blue-team-players");
            // clear loading text
            red_team_container.empty();
            blue_team_container.empty();


            if (info["mode"].toLowerCase() == "deathmatch") {
                // sort by kills
                info.players_dm.sort((a,b) => b.stats.score - a.stats.score);

                for (let i = 0; i < info.players_dm.length; i++) {
                    let player = info.players_dm[i];
                    let row = document.createElement("tr");

                    if (player.puuid == puuid) {
                        row.id = "overlay-highlighted-player";
                    }

                    row.innerHTML = generate_row_html_dm(player, info);

                    red_team_container.append(row);
                }
                console.log(info["players_dm"]);
                return;
            }


            eco_frags = {}
            for (let i = 0; i < info.rounds.length; i++) {
                red_team_value = 0;               
                blue_team_value = 0;               

                // get loadout value for each team
                for (let j = 0; j < info.rounds[i].player_stats.length; j++) {
                    player = info.rounds[i].player_stats[j];

                    // Initialize the player's eco frags count only if it doesn't already exist
                    if (!(player.player_puuid in eco_frags)) {
                        eco_frags[player.player_puuid] = 0;
                    }

                    if (player.player_team.toLowerCase() == "red") {
                        red_team_value += player.economy.loadout_value;
                    } else {
                        blue_team_value += player.economy.loadout_value;
                    }
                }

                console.log(red_team_value);

                // count eco frags
                if (red_team_value < eco_opponent_max_value && blue_team_value > eco_team_min_value) {
                    for (let j = 0; j < info.rounds[i].player_stats.length; j++) {
                        player = info.rounds[i].player_stats[j];
                        if (player.player_team.toLowerCase() == "blue") {
                            eco_frags[player.player_puuid] += player.kills;
                        }
                    }
                } else if (blue_team_value < eco_opponent_max_value && red_team_value > eco_team_min_value) {
                    for (let j = 0; j < info.rounds[i].player_stats.length; j++) {
                        player = info.rounds[i].player_stats[j];
                        if (player.player_team.toLowerCase() == "red") {
                            eco_frags[player.player_puuid] += player.kills;
                        }
                    }
                }
            }

            console.log(eco_frags);

            console.log(info);
            // sort teams by combat score (ACS)
            info.players_red.sort((a,b) => b.stats.score - a.stats.score);
            info.players_blue.sort((a,b) => b.stats.score - a.stats.score);

            for (let i = 0; i < info.players_red.length; i++) {
                let player = info.players_red[i];
                let row = document.createElement("tr");

                if (player.puuid == puuid) {
                    row.id = "overlay-highlighted-player";
                }

                row.innerHTML = generate_row_html(player, info, eco_frags);

                red_team_container.append(row);
            }

            for (let i = 0; i < info.players_blue.length; i++) {
                let player = info.players_blue[i];
                let row = document.createElement("tr");

                if (player.puuid == puuid) {
                    row.id = "overlay-highlighted-player";
                }

                row.innerHTML = generate_row_html(player, info, eco_frags);

                blue_team_container.append(row);
            }

        });

        $("#load-more-button").click(function() {
            socket.emit("load-more-matches", puuid, match_index_start, match_index_end);
            increment_match_indices();
        });

        $("#overlay").click(function(event) {
            // hide if user clicks the dark background but not the overlay box
            if (event.target == this) {
                hide_overlay();
            }
        });

        function show_overlay() {
            $("#overlay").show();
        }

        function hide_overlay() {
            let red_team_container = $("#red-team-players");
            let blue_team_container = $("#blue-team-players");
            // empty containers and place loading text when overlay is hidden.
            // this ensures old data isnt shown next time the overlay is opened
            red_team_container.empty();
            blue_team_container.empty();
            red_team_container.html(loading_match_placeholder_html);
            blue_team_container.html(loading_match_placeholder_html);

            $("#overlay").hide();
        }

        $(document).on("click", ".match-data", function() {
            // "this" refers to the .match-data element.
            // event.target may be child elements so we pull id from "this" instead
            let match_id = this.id;
            socket.emit("load-specific-match", match_id);
            overlay_match_id = match_id;
            show_overlay();
        });

        function generate_row_html(player, info, eco_frags) {
            row_html = `
                <td><img src="${image_paths[player.character.toLowerCase()]}" class="overlay-agent-icon"/></td> 
                <td><a href="{{ url_for("match_history") }}?username=${player.name}%23${player.tag}" class="player-name-link">${player.name}#${player.tag}</a></td>
                <td><img src="${image_paths[player.currenttier]}" class="overlay-rank-icon"/></td>
                <td class="border-start">${Math.round(player.stats.score / info.num_rounds)}</td>
                <td>${player.stats.kills}</td>
                <td>${player.stats.deaths}</td>
                <td>${player.stats.assists}</td>
                <td>${Math.round(player.damage_made / info.num_rounds)}</td>
                <td>${Math.round(player.stats.headshots / (player.stats.headshots + player.stats.bodyshots + player.stats.legshots) * 100)}%</td>
                <td>${eco_frags[player.puuid]}</td>
                `;
            return row_html;
        }

        function generate_row_html_dm(player, info, eco_frags) {
            row_html = `
                <td><img src="${image_paths[player.character.toLowerCase()]}" class="overlay-agent-icon"/></td> 
                <td><a href="{{ url_for("match_history") }}?username=${player.name}%23${player.tag}" class="player-name-link">${player.name}#${player.tag}</a></td>
                <td><img src="${image_paths[player.currenttier]}" class="overlay-rank-icon"/></td>
                <td>${Math.round(player.stats.score / info.num_rounds)}</td>
                <td>${player.stats.kills}</td>
                <td>${player.stats.deaths}</td>
                <td>${player.stats.assists}</td>
                <td></td>
                <td></td>
                <td></td>
                `;
            return row_html;
        }

        function increment_match_indices() {
            match_index_start = match_index_end;
            match_index_end += matches_per_load;
        }

    });
</script>
</head>

<body>
    <h1><a href="{{ url_for('index') }}">HOME</a></h1>
    <h3>Username: <input type="text" id="username-input" placeholder="eg. username#NA1">
    <button id="username-submit">Submit</button></h3>
    <h4>queue type:
    <select id="queue-type">
        <option value="">all</option>
        <option value="competitive">comp</option>
        <option value="premier">premier</option>
    </select>
    </h4>
    <h1 class="d-flex justify-content-center">{{ username }}</h1>
    <div id="username-divider" class="fading-divider"></div>
    <div class="container py-2 mb-5" id="main-container">
        <div id="matches-container">

        </div>
        <div id="loading" class="text-center">
            <h2>loading matches...</h2>
        </div>
        <div id="error" class="text-center">
            <h2>the user you are looking for does not exist</h2>
        </div>
        <div class="justify-content-center d-flex">
            <button id="load-more-button">load more</button>
        </div>

    </div>
    <div id="overlay">
        <div id="overlay-box" class="container">
            <div id="red-team" class="overflow-auto">
                <table class="w-100 text-center border-bottom-thick team-table">
                    <thead>
                        <th class="overlay-table-head-agent-icon border-bottom"></th> 
                        <th class="overlay-table-head-username border-bottom"></th>
                        <th class="overlay-table-head-rank-icon border-bottom"></th>
                        <th class="overlay-table-head-acs border-start border-bottom">ACS</th>
                        <th class="overlay-table-head-kills border-bottom">Kills</th>
                        <th class="overlay-table-head-deaths border-bottom">Deaths</th>
                        <th class="overlay-table-head-assists border-bottom">Assists</th>
                        <th class="overlay-table-head-adr border-bottom">ADR</th>
                        <th class="overlay-table-head-hsp border-bottom">HS%</th>
                        <th class="overlay-table-head-ecos dotted-underline border-bottom">Eco Frags</th>
                    </thead>
                    <tbody id="red-team-players">
                    </tbody>
                </table>
            </div>

            <div id="team-divider" class="my-3 fading-divider"></div>

            <div id="blue-team" class="overflow-auto">
                <table class="w-100 text-center border-top-thick team-table">
                    <thead>
                        <th class="overlay-table-head-agent-icon border-bottom"></th> 
                        <th class="overlay-table-head-username border-bottom"></th>
                        <th class="overlay-table-head-rank-icon border-bottom"></th>
                        <th class="overlay-table-head-acs border-start border-bottom">ACS</th>
                        <th class="overlay-table-head-kills border-bottom">Kills</th>
                        <th class="overlay-table-head-deaths border-bottom">Deaths</th>
                        <th class="overlay-table-head-assists border-bottom">Assists</th>
                        <th class="overlay-table-head-adr border-bottom">ADR</th>
                        <th class="overlay-table-head-hsp border-bottom">HS%</th>
                        <th class="overlay-table-head-ecos dotted-underline border-bottom">Eco Frags</th>
                    </thead>
                    <tbody id="blue-team-players">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>
